*{
    margin: 0;
    padding: 0;
}
#game{
    width: 400px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url("imgs/fondo.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#character{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    top: 500px;
    left: 150px;
    z-index: 10;
    background-image: url("imgs/runner.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#block{
    width: 100px;
    height: 100px;
    background-color: black;
    animation: slideBlock 1.3s linear infinite;
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url("imgs/block.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#coin{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid transparent;
    animation: slideCoin 1.7s linear infinite;
    position: relative;
}
#imgCoin{
    width: 70%;
}
#special{
    width: 100px;
    height: 100px;
    animation: slideSpecial 1.9s linear infinite;
    position: relative;
    top: -500px;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url("imgs/gift.png");
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes slideBlock {
    0% {top: -100px;}
    100% {top: 800px;}
}
@keyframes slideCoin {
    0% {top: -200px;}
    100% {top: 800px;}
}
@keyframes slideSpecial {
    0% {top: -300px;}
    100% {top: 800px;}
}