*{
    margin: 0;
    padding: 0;
    border: 0px solid transparent;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --timeRunningBlock   : 1.3s;
    --timeRunningCoin    : 1.7s;
    --timeRunningSpecial : 1.9s;
}

#game{
    width: 400px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url("imgs/street.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#headers{
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: auto;
    margin: 5px 0;
    z-index: 10;
}
.metrics{
    width: 40%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(255 255 255 / 20%);
    background-color: rgb(255 255 255 / 50%);
    display: flex;
    justify-content: space-evenly;
}
.vidas{
    width: 30px;
}
#score{
    width: 30%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 34px;
    z-index: 10;
}
#character{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    top: 500px;
    left: 150px;
    z-index: 10;
    background-image: url("imgs/runner.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#block{
    width: 100px;
    height: 100px;
    background-color: black;
    animation: slideBlock var(--timeRunningBlock) linear infinite;
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url("imgs/block.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#coin{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid transparent;
    animation: slideCoin var(--timeRunningCoin) linear infinite;
    position: relative;
}
#imgCoin{
    width: 80%;
    margin: auto;
    display: block;
}
#special{
    width: 100px;
    height: 100px;
    animation: slideSpecial var(--timeRunningSpecial) linear infinite;
    position: relative;
    top: -500px;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url("imgs/gift.png");
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes slideBlock {
    0% {top: -100px;}
    100% {top: 800px;}
}
@keyframes slideCoin {
    0% {top: -200px;}
    100% {top: 800px;}
}
@keyframes slideSpecial {
    0% {top: -350px;}
    100% {top: 800px;}
}

/* @media (max-width:480px) {
    #game{
        width: 95%;
        height: 90vh;
        border: 1px solid black;
        margin: 5vh auto;
    }
} */
